*,
body {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #151515;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F0F1F2;
}

html {
  overflow-x: hidden;
}




.color {
  color: #151515;
  color: #093A82;
  color: #BEE0D9;
  color: #FAC177;
  color: #9C9E9F;
  color: #F0F1F2;
  color: #FFF;
}

.space1 {
  height: 25px;
}

.space2 {
  height: 50px;
}

.space3 {
  height: 100px;
}

.space4 {
  height: 150px;
}

.space5 {
  height: 100vh;
}

h1 {
  font-family: paralucent, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5rem;
  line-height: 5rem;
  margin: 20px 0;
}

h2 {
  font-family: paralucent, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 2rem;
  color: #FFF;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}





















header {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  padding: 5px 5px 8px 5px;
  margin: 0 10px;
}

nav a h3 {
  font-family: paralucent, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #151515;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
  opacity: .7;
}

nav a h3:hover {
  opacity: 1;
  transform: scale(1.1);
}




















#main_container {
  overflow: hidden;
  width: 100vw;
  position: absolute;
}

.main_width {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}

.chart_position {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart_div {
  flex-basis: 800px;
  padding: 70px 0;
}


@media screen and (min-width: 800px) {
  .chart_div {
    padding: 20px 20px;
    flex-basis: 350px;
  }
}

#barchart1,
#barchart2,
#barchart3 {
  width: 100%;
  max-width: 1000px;
}

#chart line {
  stroke: #555;
  stroke-width: 1;
}

.bars text {
  font-size: 3px;
  letter-spacing: .5px;
  font-family: paralucent, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.bars line:nth-child(2) {
  stroke-width: 35;
  stroke: #3c6196;
  transition: 0s cubic-bezier(0.76, 0, 0.24, 1);
  transform: translateY(30px);
}

.bars line:nth-child(1) {
  stroke-width: 35;
  stroke: #093A82;
  transition: 0s cubic-bezier(0.76, 0, 0.24, 1);
  transform: translateY(70px);
}

.chart_div h2 {
  margin: 20px 0 10px 0;
  color: #5d5d5d;
  font-size: 1.1rem;
  letter-spacing: 1px;
  height: 80px;
}

.tror_du {
  margin: 20px 0 10px 0;
  font-family: paralucent, sans-serif;
  font-weight: 400;
  background-color: #FAC177;
  color: #151515;
  font-size: 1.1rem;
  height: 80px;
}



.slider {
  margin-right: 10px;
  margin: 20px 0;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #dbdbdb;
  outline: none;
  cursor: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  cursor: none;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}

#vaerdi1a,
#vaerdi2a,
#vaerdi3a,
#slider1a::-webkit-slider-thumb,
#slider2a::-webkit-slider-thumb,
#slider3a::-webkit-slider-thumb {
  background-color: #093A82;
}

#vaerdi1b,
#vaerdi2b,
#vaerdi3b,
#slider1b::-webkit-slider-thumb,
#slider2b::-webkit-slider-thumb,
#slider3b::-webkit-slider-thumb {
  background-color: #3c6196;
}

.slidecontainer {
  width: 100%;
}

.slidecontainer div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slidecontainer div p {
  color: #fff;
  padding: 12px 15px 0px 15px;
  margin-left: 10px;
  text-align: center;
  white-space: nowrap;
  width: 170px;
}

.test_yourself {
  background-color: #FAC177;
  color: #151515;
  font-family: paralucent, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  width: 177px;
  font-size: 1.2rem;
  padding: 20px 25px;
  text-align: center;
  margin: 30px 0 0 0;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
}

.test_yourself:hover {
  transform: scale(1.1);
}












.om_wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.om_text_wrap p {
  font-size: 1.7rem;
}

.om_text_wrap {
  width: 100%;
  flex-basis: 400px;
  padding-right: 40px;
  flex-grow: 1;
}

#anim {
  width: 100%;
  flex-basis: 400px;
  padding-top: 10px;
  flex-grow: 1;
}

.svar {
  color: #9C9E9F
}














.splash_wrap {
  width: 100vw;
  height: 100vh;
  background-color: #FAC177;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash_inner {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash_text_wrap {
  width: 70%;
  display: block;
}

.start_quiz_h1 {
  width: 100%;
  color: #fff;
  font-family: paralucent-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15vw;
  line-height: 12vw;
  text-transform: uppercase;
  margin: 1vw;
  text-align: end;
}

.start_quiz_h1 span {
  font-family: paralucent-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #093A82;
}

.splash_button_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.start_quiz {
  background-color: #093A82;
  color: #FAC177;
  font-size: 3vw;
  padding: 2vw;
  text-align: end;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
  animation: start_quiz_ani-kf 1s infinite alternate both;
}

.start_quiz:hover {
  background-color: #fff;
  color: #093A82;
  animation-play-state: paused;
  transform: scale(1.1);
}

@keyframes start_quiz_ani-kf {
  0% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  }

  100% {
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  }
}

.splash_img {
  width: 30%;
  height: 32vw;
  margin-left: 4vw;
  background-image: url(img/wet_can.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(1vw);
}

.splash_transition {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translateX(100vw);
  z-index: 1;
}

.splash_transition_animation_in {
  animation: splash_transition_animation_in-kf 1s cubic-bezier(0.76, 0, 0.24, 1) both;
}

@keyframes splash_transition_animation_in-kf {
  100% {
    transform: translateX(0);
  }
}

.splash_transition_animation_out {
  animation: splash_transition_animation_out-kf 1s cubic-bezier(0.76, 0, 0.24, 1) both;
}

@keyframes splash_transition_animation_out-kf {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}













.question_wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 2;
}

.spg_section {
  position: absolute;
  top: 10vh;
  visibility: visible;
  z-index: 4;
}

.spg_nr {
  width: 100%;
  height: 100%;
  font-size: .7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9C9E9F;
  font-family: paralucent, sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  transition: 1s cubic-bezier(.4, .7, 0, 1);
  white-space: nowrap;
}

.spg_nr_wrap {
  transform-origin: top left;
  transform: translate(-30px, 0px) rotate(-90deg);
  overflow: hidden;
}

.move_quiz {
  transform: translateX(-13vw);
}

.inner_question_wrap {
  width: 40vw;
  transition: 1s cubic-bezier(.4, .7, 0, 1);
  padding: 30px;
  transform-origin: center;
}

.inner_overflow {
  width: 100%;
  overflow: hidden;
  transition: 1s cubic-bezier(.4, .7, 0, 1);
}

.spg_section:nth-child(4n+1) .inner_overflow {
  background-color: #093A82;
  box-shadow: 10px 10px 40px rgba(9, 58, 130, 0.5);
}

.spg_section:nth-child(4n+3) .inner_overflow {
  background-color: #FAC177;
  box-shadow: 10px 10px 40px rgba(250, 193, 119, 0.5);
}

.hover_scale {
  transition: 1s cubic-bezier(.4, .7, 0, 1);
}

.hover_scale:hover {
  transform: scale(1.02);
}

.hover_scale:hover .spg_nr {
  transform: scale(.98) translate(-20px, 28px) rotate(-90deg);
}

.inner_question_wrap h2 {
  padding: 0 0 20px 0;
  margin: 0;
  font-size: 3rem;
}

.svarmulighed_wrap {
  display: flex;
  align-content: center;
}

.svarmulighed_wrap p {
  display: inline-block;
  transform-origin: left;
  margin: 10px 0;
  line-height: 1.4rem;
  font-size: 1.2rem;
  opacity: 0.5;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
}

.spg_section:nth-child(4n+1) .svarmulighed_wrap p {
  color: #FAC177;
}

.spg_section:nth-child(4n+3) .svarmulighed_wrap p {
  color: #093A82;
}

.tick_box {
  width: 20px;
  height: 20px;
  margin: 10px 20px 10px 0;
  display: inline-block;
  border: 2px solid #FAC177;
  border-radius: 20px;
  opacity: 0.5;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spg_section:nth-child(4n+1) .tick_box {
  border: 2px solid #FAC177;
}

.spg_section:nth-child(4n+3) .tick_box {
  border: 2px solid #093A82;
}

.tick_box div {
  width: 0px;
  height: 0px;
  max-width: 8px;
  max-height: 8px;
  border-radius: 20px;
  opacity: 0.5;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
}

.spg_section:nth-child(4n+1) .tick_box div {
  background-color: #FAC177;
}

.spg_section:nth-child(4n+3) .tick_box div {
  background-color: #093A82;
}

.svarmulighed_wrap:hover .tick_box {
  transform: scale(1.3);
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(250, 193, 119, 0.6);
}

.svarmulighed_wrap:hover .tick_box div {
  width: 8px;
  height: 8px;
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(250, 193, 119, 0.6);
}

.svarmulighed_wrap:hover p {
  margin: 10px -5px;
  opacity: 1;
}

.spg_section {
  visibility: hidden;
}





.img_section {
  position: absolute;
  z-index: 2;
}

.img_container {
  width: 30vw;
  height: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.move_quiz2 {
  width: 30vw;
  height: 40vw;
  transform: translateX(15.5vw);
  visibility: hidden;
}

.inner_question_wrap2 {
  width: 30vw;
  height: 40vw;
}

.inner_overflow2 {
  width: 30vw;
  height: 40vw;
  overflow: hidden;
}

.img_section:nth-child(4n+2) .inner_overflow2 {
  box-shadow: 10px 10px 40px rgba(250, 193, 119, 0.5);
}

.img_section:nth-child(4n) .inner_overflow2 {
  box-shadow: 10px 10px 40px rgba(9, 58, 130, 0.5);
}




















.inner_overflow3 {
  overflow: hidden;
}

.meter_section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  visibility: hidden;
}

.meter_wrap {
  background-color: #FAC177;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 56vw;
}

.meter_wrap h2 {
  font-size: 4vw;
  text-align: center;
  padding: 3vw;
}

.meter_gradient {
  width: 50vw;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #093A82);
  margin-bottom: 7vw;
}

.meter_counter {
  width: 5px;
  height: 40px;
  background-color: #fff;
  position: relative;
  margin: -10px 0 -10px 0;
  transition: 1s cubic-bezier(0.76, 0, 0.24, 1);
  transform: translateX(25vw);
}

.meter_section p {
  width: 22vw;
  font-size: 2vw;
  margin: -3vw 17vw 0 17vw;
  padding: 2vw;
  background-color: #093A82;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
}

.meter_section p:hover {
  width: 24.2vw;
  font-size: 2.2vw;
  margin: -3.3vw 15.9vw 0 15.9vw;
  padding: 2.2vw;
}

.slide_up {
  animation: slide_up-kf 1s cubic-bezier(0.76, 0, 0.24, 1) both;
}

@keyframes slide_up-kf {
  0% {
    opacity: 0;
    transform: translateY(5vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide_down {
  animation: slide_down-kf 1s cubic-bezier(0.76, 0, 0.24, 1) both;
}

@keyframes slide_down-kf {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(5vw);
  }
}







/*-------CURSOR---------*/
#pointer-dot,
#pointer-ring {
  visibility: hidden;
}

@media screen and (min-width: 1000px) {
  #pointer-dot {
    visibility: visible;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px solid #FAC177;
    border-radius: 100px;
    position: fixed;
    z-index: 81;
    pointer-events: none;
  }

  #pointer-ring {
    visibility: visible;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px solid #FAC177;
    border-radius: 100px;
    position: fixed;
    z-index: 80;
    pointer-events: none;
    mix-blend-mode: exclusion;
  }

  html {
    cursor: none;
  }

  a {
    cursor: none;
  }

  button {
    cursor: none;
  }

  button:hover {
    cursor: none;
  }
}




















/*-------TRANSITION ANIMATIONS---------*/
.on_choice {
  animation: on_choice-kf .3s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes on_choice-kf {
  100% {
    transform: scale(1.02);
  }
}

.on_choice2 {
  animation: on_choice2-kf .3s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes on_choice2-kf {
  100% {
    text-shadow: 0px 0px 10px rgba(190, 224, 217, 1);
    color: #FFF;
    opacity: 1;
    transform: scale(1.1);
    margin: 10px 0px;
  }
}

.on_choice3 {
  animation: on_choice3-kf .3s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes on_choice3-kf {
  100% {
    background-color: #FFF;
    opacity: 1;
    width: 1vw;
    height: 1vw;
  }
}

.on_choice4 {
  animation: on_choice4-kf .3s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes on_choice4-kf {
  100% {
    border: 2px solid #FFF;
    opacity: 1;
    box-shadow: 0px 0px 20px rgba(190, 224, 217, 1);
    transform: scale(1.5);
  }
}











.question_away {
  animation: question_away-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away-kf {
  0% {
    transform: scale(1);
  }

  100% {
    width: 0%;
    transform: scale(.5);
  }
}

.question_away2 {
  animation: question_away2-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away2-kf {
  100% {
    transform: scale(1.2);
  }
}

.question_away3a {
  animation: question_away3a-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away3a-kf {
  100% {
    transform: translateX(-20vw);
  }
}

@keyframes question_away3_media-kf {
  100% {
    transform: translateX(-20vw);
  }
}

.question_away3b {
  animation: question_away3b-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away3b-kf {
  100% {
    transform: translateX(0vw);
  }
}

.question_away3c {
  animation: question_away3c-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away3c-kf {
  100% {
    transform: translateX(-10vw);
  }
}

.question_away4 {
  animation: question_away4-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away4-kf {
  100% {
    transform: translate(100px, 200px);
  }
}

.question_in {
  animation: question_in-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in-kf {
  0% {
    width: 0%;
    transform: scale(.5);
  }

  100% {
    width: 100%;
    transform: scale(1);
  }
}

.question_in2 {
  animation: question_in2-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in2-kf {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.question_in3a {
  animation: question_in3a-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in3a-kf {
  0% {
    transform: translateX(60vw);
  }

  100% {
    transform: translateX(-13vw);
  }
}

@keyframes question_in3_media-kf {
  0% {
    transform: translateX(40vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.question_in3b {
  animation: question_in3b-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in3b-kf {
  0% {
    transform: translateX(60vw);
  }

  100% {
    transform: translateX(15.5vw);
  }
}

.question_in3c {
  animation: question_in3c-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in3c-kf {
  0% {
    transform: translateX(50vw);
  }

  100% {
    transform: translateX(0vw);
  }
}

.question_in4 {
  animation: question_in4-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in4-kf {
  0% {
    transform: translate(100px, -100px);
  }

  100% {
    transform: translate(0, 0px);
  }
}






















@media screen and (max-width: 900px) {
  nav a {
    margin: 0 5px;
  }

  nav a h3 {
    font-size: .7rem;
  }

  .spg_section {
    top: 10vh;
  }

  .img_section {
    top: 60vw;
  }

  .spg_nr {
    font-size: 1.5vw;
    letter-spacing: .3vw;
  }

  .spg_nr_wrap {
    transform: translate(-5vw, 0) rotate(-90deg);
  }

  .inner_question_wrap {
    width: 65vw;
    padding: 4vw;
  }

  .spg_section:nth-child(4n+1) .inner_overflow {
    box-shadow: .5vw .5vw 2vw rgba(9, 58, 130, 0.5);
  }

  .spg_section:nth-child(4n+3) .inner_overflow {
    box-shadow: .5vw .5vw 2vw rgba(250, 193, 119, 0.5);
  }

  .inner_question_wrap h2 {
    padding: 0 0 2vw 0;
    font-size: 4vw;
  }

  .svarmulighed_wrap p {
    margin: 2vw 0;
    line-height: 4vw;
    font-size: 3vw;
  }

  .tick_box {
    width: 4vw;
    height: 4vw;
    margin: 2vw 2vw 2vw 0;
    border-radius: 20vw;
  }

  .spg_section:nth-child(4n+1) .tick_box {
    border: .3vw solid #FAC177;
    box-shadow: 0 0 2vw rgba(250, 193, 119, 0.4);
  }

  .spg_section:nth-child(4n+3) .tick_box {
    border: .3vw solid #093A82;
    box-shadow: 0 0 2vw rgba(9, 58, 130, 0.4);
  }

  .tick_box div {
    border-radius: 20vw;
  }

  .spg_section:nth-child(4n+1) .svarmulighed_wrap:hover .tick_box {
    box-shadow: 0 0 2vw rgba(250, 193, 119, 0.8);
  }

  .spg_section:nth-child(4n+3) .svarmulighed_wrap:hover .tick_box {
    box-shadow: 0 0 2vw rgba(9, 58, 130, 0.8);
  }

  .svarmulighed_wrap:hover .tick_box div {
    width: 1vw;
    height: 1vw;
  }

  .svarmulighed_wrap:hover p {
    margin: 2vw 0;
    opacity: 1;
  }

  .img_container {
    width: 65vw;
    height: 80vw;
  }

  .move_quiz2 {
    width: 65vw;
    height: 80vw;
    transform: translateX(15.5vw);
  }

  .inner_question_wrap2 {
    width: 65vw;
    height: 80vw;
  }

  .inner_overflow2 {
    width: 65vw;
    height: 80vw;
  }

  .img_section:nth-child(4n+2) .inner_overflow2 {
    box-shadow: .5vw .5vw 2vw rgba(250, 193, 119, 0.5);
  }

  .img_section:nth-child(4n) .inner_overflow2 {
    box-shadow: .5vw .5vw 2vw rgba(9, 58, 130, 0.5);
  }
}
