*,
body {
  font-family: mr-eaves-xl-modern, sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #25282A;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

body {
  background-color: #F0F1F2;
}

body::-webkit-scrollbar {
  display: none;
}



.color {
  color: #151515;
  color: #093A82;
  color: #BEE0D9;
  color: #FAC177;
  color: #9C9E9F;
  color: #F0F1F2;
  color: #FFF;
}

.space1 {
  height: 25px;
}

.space2 {
  height: 50px;
}

.space3 {
  height: 100px;
}

.space4 {
  height: 150px;
}

h1 {
  font-family: paralucent, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.3rem;
  line-height: 3rem;
  margin: 10px 0;
}

h2 {
  font-family: paralucent, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
  font-size: 2rem;
  color: #FFF;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin: 5px 0;
}





















header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 100;
  top: 0;
  left: 0;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
}

nav a h3 {
  font-family: paralucent, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
}
































#main_container {
  width: 100vw;
}

.splash_wrap {
  width: 100vw;
  height: 100vh;
  background-color: #FAC177;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash_inner {
  width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash_text_wrap {
  width: 70%;
  display: block;
}

.start_quiz_h1 {
  width: 100%;
  color: #fff;
  font-family: paralucent-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15vw;
  line-height: 12vw;
  text-transform: uppercase;
  margin: 10px;
  text-align: end;
}

.start_quiz_h1 span {
  font-family: paralucent-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #093A82;
}

.splash_button_wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.start_quiz {
  background-color: #fff;
  color: #093A82;
  font-size: 3vw;
  padding: 2vw;
  text-align: end;
}

.splash_img {
  width: 30%;
  height: 32vw;
  margin-left: 4vw;
  background-image: url(img/wet_can.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(1vw);
}

.splash_transition {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translateX(100vw);
  z-index: 2;
}

.splash_transition_animation {
  animation: splash_transition_animation-kf 1s cubic-bezier(0.76, 0, 0.24, 1) both;
}

@keyframes splash_transition_animation-kf {
  100% {
    transform: translateX(0);
  }
}















.question_wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 3;
}

.spg_section {
  position: absolute;
  top: 100px;
  visibility: visible;
}

.spg_nr {
  width: 100%;
  height: 100%;
  font-size: .7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9C9E9F;
  font-family: paralucent, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  transition: 1s cubic-bezier(.4, .7, 0, 1);
  white-space: nowrap;
}

.spg_nr_wrap {
  transform-origin: top left;
  transform: translate(-30px, 0px) rotate(-90deg);
  overflow: hidden;
}

.move_quiz {
  transform: translateX(-10vw);
}

.inner_question_wrap {
  width: calc(100vw - 40px);
  max-width: 600px;
  transition: 1s cubic-bezier(.4, .7, 0, 1);
  padding: 30px;
  transform-origin: center;
}

.inner_overflow {
  width: 100%;
  overflow: hidden;
  background-color: #093A82;
  box-shadow: 10px 10px 40px rgba(9, 58, 130, 0.5);
  transition: 1s cubic-bezier(.4, .7, 0, 1);
}

.hover_scale {
  transition: 1s cubic-bezier(.4, .7, 0, 1);
}

.hover_scale:hover {
  transform: scale(1.02);
}

.hover_scale:hover .spg_nr {
  transform: scale(.98) translate(-20px, 28px) rotate(-90deg);
}

.inner_question_wrap h2 {
  padding: 0 0 20px 0;
  margin: 0;
}

.svarmulighed_wrap {
  display: flex;
  align-content: center;
}

.svarmulighed_wrap p {
  color: #FAC177;
  display: inline-block;
  margin: 10px 0;
  line-height: 1.4rem;
  font-size: 1.2rem;
  opacity: 0.5;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
}

.tick_box {
  width: 20px;
  height: 20px;
  margin: 10px 20px 10px 0;
  display: inline-block;
  border: 2px solid #FAC177;
  border-radius: 20px;
  opacity: 0.5;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tick_box div {
  width: 0px;
  height: 0px;
  border-radius: 20px;
  background-color: #FAC177;
  opacity: 0.5;
  transition: .3s cubic-bezier(.3, 0, .2, 1);
}

.svarmulighed_wrap:hover .tick_box {
  transform: scale(1.3);
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(250, 193, 119, 0.6);
}

.svarmulighed_wrap:hover .tick_box div {
  width: 8px;
  height: 8px;
  opacity: 1;
  box-shadow: 0px 0px 20px rgba(250, 193, 119, 0.6);
}

.svarmulighed_wrap:hover p {
  margin: 10px -5px;
  opacity: 1;
}

.spg_section {
  visibility: hidden;
}







.img_section {
  width: 400px;
  height: 400px;
  background-color: aqua;
  z-index: 10;
  position: absolute;
}

















/*-------CURSOR---------*/
#pointer-dot,
#pointer-ring {
  visibility: hidden;
}

@media screen and (min-width: 1000px) {
  #pointer-dot {
    visibility: visible;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px solid #FAC177;
    border-radius: 100px;
    position: fixed;
    z-index: 81;
    pointer-events: none;
    transition-timing-function: steps(5, jump-start);
  }

  #pointer-ring {
    visibility: visible;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 2px solid #FAC177;
    border-radius: 100px;
    position: fixed;
    z-index: 80;
    pointer-events: none;
    transition-timing-function: steps(5, jump-start);
    mix-blend-mode: exclusion;
  }

  html {
    cursor: none;
  }

  a {
    cursor: none;
  }

  button {
    cursor: none;
  }

  button:hover {
    cursor: none;
  }
}




















/*-------TRANSITION ANIMATIONS---------*/
.on_choice {
  animation: on_choice-kf .3s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes on_choice-kf {
  100% {
    transform: scale(1.02);
  }
}

.on_choice2 {
  animation: on_choice2-kf .3s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes on_choice2-kf {
  100% {
    text-shadow: 0px 0px 10px rgba(190, 224, 217, 1);
    color: #BEE0D9;
    opacity: 1;
    transform: scale(1.1);
    margin: 10px 0px;
  }
}

.on_choice3 {
  animation: on_choice3-kf .3s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes on_choice3-kf {
  100% {
    background-color: #BEE0D9;
    opacity: 1;
    width: 8px;
    height: 8px;
  }
}

.on_choice4 {
  animation: on_choice4-kf .3s cubic-bezier(0.61, 1, 0.88, 1) both;
}

@keyframes on_choice4-kf {
  100% {
    border: 2px solid #BEE0D9;
    opacity: 1;
    box-shadow: 0px 0px 20px rgba(190, 224, 217, 1);
    transform: scale(1.5);
  }
}











.question_away {
  animation: question_away-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away-kf {
  0% {
    transform: scale(1);
  }

  100% {
    width: 0%;
    transform: scale(.5);
  }
}

.question_away2 {
  animation: question_away2-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away2-kf {
  100% {
    transform: scale(1.2);
  }
}

.question_away3 {
  animation: question_away3-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away3-kf {
  100% {
    transform: translateX(-20vw);
  }
}

.question_away4 {
  animation: question_away4-kf 1s cubic-bezier(0.5, 0, 0.75, 0) both;
}

@keyframes question_away4-kf {
  100% {
    transform: translate(100px, 200px);
  }
}

.question_in {
  animation: question_in-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in-kf {
  0% {
    width: 0%;
    transform: scale(.5);
  }

  100% {
    width: 100%;
    transform: scale(1);
  }
}

.question_in2 {
  animation: question_in2-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in2-kf {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.question_in3 {
  animation: question_in3-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in3-kf {
  0% {
    transform: translateX(60vw);
  }

  100% {
    transform: translateX(-10vw);
  }
}

.question_in4 {
  animation: question_in4-kf 1s cubic-bezier(0.25, 1, 0.5, 1) both;
}

@keyframes question_in4-kf {
  0% {
    transform: translate(100px, -100px);
  }

  100% {
    transform: translate(0, 0px);
  }
}
